body {
	color: #333333;
	padding: 0 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76%;
	
}
font.big {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN-BOTTOM: 4pt; COLOR: #005000; font-family:Times New Roman
}
font.big_zakladki {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN-BOTTOM: 4pt; COLOR: #005000; font-family:Times New Roman
}
.panel {
	clear: both;
	display: none;
	border-top: 1px solid #007d00;
	border-right: 2px solid #007d00;
	border-bottom: 2px solid #007d00;
	border-left: 1px solid #007d00;
	padding: 1em;
}
.panel.active-tab-body {
	display: block;
}
#tabs {
	list-style: none;
}

#tabs li {
	float: left;
}

#tabs a {
	float: left;
	padding: 5px 8px;
	margin-left: 6px;
	background-color: #66d166;
	text-decoration: none;
	color: #333333;
	border:  1px solid #007d00; 
}

#tabs a.active-tab {
	background-color: #c7f5c7;
}
input.disabled {
	border: 1px solid #007d00;
	background-color: #007d00;
}

input.required, textarea.required {
	border: 1px solid #007d00;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FF3300;
	color : #dbf494;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #8cbb07;
	color : #dbf494;
	font-weight: bold;
}

fieldset {
	padding: 1em;
	margin-bottom: 0.5em;
}

label {
	font-weight: bold;
}
.form-row {
	clear: both;
	padding: 0.5em;
}

.field-label {

}

.field-widget {

}